footer {
    margin-bottom: 1.5rem;
}
footer p {
    text-align: right;
    margin: 0;
}

.social__list {
    text-align: right;
}
.social__icon {
    display: inline-block;
}

.social__link {
    position: relative;
}
.social__link svg {
    width: 30px;
    height: auto;
}
.social__link::after {
    content: '';
    position: absolute;
    width: 3em;
    height: 3em;
    transition: border-color .2s;
    border: 1px dashed transparent;
    top: -0.65em;
    left: -0.62em;
    z-index: 0;
}
.social__link:hover::after {
    border-color: #444;
}
