{{> doc-head }}
<link href="/assets/css/blog.css" rel="stylesheet">
<body>
    {{> header }}

    <main>

        <h1>{{ title }}</h1>
        <p>{{ description }}</p>

        <hr class="blog__title-divider">

        {{{ contents }}}
    </main>

    {{> footer }}
</body>
</html>
